body{
  margin: 0;
  background-color: rgb(228, 228, 228);
}
h1{
  text-align: center;
  margin-top: 10px;
  font-family: serif;
}
.container{
  padding: 7px 0 14px;
  padding-bottom: 40px;
}
div
{
  text-align: -webkit-center;
}
.message{
  color:#ddd;
}
.messages{
  margin: 0;
  padding: 0;
  list-style: none;
}
.messages li{
  margin-top: 32px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
}
.messages li + li{
  margin-top: 32px;
}
li.right-side{
  flex-direction: row-reverse;
}
.pic{
  margin-top: 30px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-bottom: 50px;
}
.pic img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.text{
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 16px 24px;
  max-width: 60%;
  line-height: 1.8;
  position: relative;
}
.text::before{
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  position: absolute;
}
/* 吹出し矢印が発音後真ん中にならない */
/*  */
.left-side .text::before{
  border-bottom: 15px solid #ffffff;
  margin: auto;
  top: -20px;
  position: absolute;
}
.right-side .text::before{
  border-top: 15px solid #ffffff;
  margin: auto;
  bottom: -20px;
  position: absolute;
}
/*  */
.material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #9b9b9b;
  font-size: 18px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(180deg, rgba(245, 245, 245, 1), rgba(204, 204, 204, 1));
}
.material-icons:hover {
  transform: translateY(2px);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}
/* .material-icons{
  display: inline-block;
  padding: 0.8em 0.8em;
  background-color: #e3364a; /* 背景色 */
  /* box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
  /* border-radius: 60px; */
  /* color: #fff; */
  /* cursor: pointer; */
  /* text-decoration: none; 文字の下線を消す */
/* }
.material-icons:hover{
  box-shadow: none;
  transform: translateY(5px);
}
.material-icons:active{
  box-shadow: none;
  transform: translateY(5px);
}  */